@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

*
{
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: initial;
}

.unbounded {
  font-family: 'Unbounded', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar-track
{
	background-color: #F5F5F500;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F500;
  display: none;
}

*::-webkit-scrollbar-thumb
{
  @apply bg-primary-1;
}

html, body {
  overscroll-behavior: none;
  background-color: black;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  font-family: 'Inter', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  margin: auto;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.full-height {
  height: calc(var(--vh, 1vh) * 100) !important;
}

// canvas
.gameplay-canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 2;
}

// health bar
.full-health {
  background: rgb(99,179,92);
  background: linear-gradient(180deg, rgba(99,179,92,1) 0%, rgba(87,167,88,1) 50%, rgba(65,146,80,1) 50%, rgba(65,146,80,1) 77%, rgba(49,106,65,1) 77%, rgba(49,106,65,1) 100%);
}

.mid-health {
  background: rgb(193,198,70);
  background: linear-gradient(180deg, rgba(193,198,70,1) 0%, rgba(193,198,70,1) 50%, rgba(141,146,65,1) 50%, rgba(141,146,65,1) 77%, rgba(96,106,49,1) 77%, rgba(96,106,49,1) 100%);
}

.low-health {
  background: rgb(182,76,76);
  background: linear-gradient(180deg, rgba(182,76,76,1) 0%, rgba(182,76,76,1) 50%, rgba(146,72,65,1) 50%, rgba(146,72,65,1) 77%, rgba(106,49,49,1) 77%, rgba(106,49,49,1) 100%);
}

.heartbeat-position {
  top: calc((-40 / 1920) * 100vh);
  left: calc((-100 / 1920) * 100vh);
}


// chat box settings
.box {
  position: relative;
}
.box:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(
    0 0,
    calc(100% - calc((140 / 1920) * 100vw)) 0,
    100% calc((140 / 1920) * 100vw),
    100% 100%,
    0 100%,
    0 0,
    .1vw  .1vw ,
    .1vw calc(100% - .1vw),
    calc(100% - .1vw) calc(100% - .1vw),
    calc(100% - .1vw) calc(calc((140 / 1920) * 100vw) + 0.04vw),
    calc(100% - calc((140 / 1920) * 100vw) - 0.04vw) .1vw,
    .1vw .1vw
  );
}

.box-player {
  position: relative;
}
.box-player:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(0 6vh,6vh 0,calc(100% - 6vh) 0,100% 6vh,100% calc(100% - 6vh),calc(100% - 6vh) 100%,6vh 100%,0 calc(100% - 6vh),0 6vh,.4vh  calc(6vh + 0.17vh),.4vh calc(100% - 6vh - 0.17vh),calc(6vh + 0.17vh) calc(100% - .4vh),calc(100% - 6vh - 0.17vh) calc(100% - .4vh),calc(100% - .4vh) calc(100% - 6vh - 0.17vh),calc(100% - .4vh) calc(6vh + 0.17vh),calc(100% - 6vh - 0.17vh) .4vh,calc(6vh + 0.17vh) .4vh,.4vh calc(6vh + 0.17vh));
}

.box-attack-button {
  position: relative;
}
.box-attack-button:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(0 6vh,6vh 0,calc(100% - 6vh) 0,100% 6vh,100% 100%,0 100%,0 6vh,.4vh  calc(6vh + 0.17vh),.4vh calc(100% - .4vh),calc(100% - .4vh) calc(100% - .4vh),calc(100% - .4vh) calc(6vh + 0.17vh),calc(100% - 6vh - 0.17vh) .4vh,calc(6vh + 0.17vh) .4vh,.4vh calc(6vh + 0.17vh));
}

.box-chat {
  position: relative;
}
.box-chat:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 6vh),calc(100% - 6vh) 100%,6vh 100%,0 calc(100% - 6vh),0 0,.4vh  .4vh ,.4vh calc(100% - 6vh - 0.17vh),calc(6vh + 0.17vh) calc(100% - .4vh),calc(100% - 6vh - 0.17vh) calc(100% - .4vh),calc(100% - .4vh) calc(100% - 6vh - 0.17vh),calc(100% - .4vh) .4vh,.4vh .4vh);
}

.box-radial-button {
  position: relative;
  clip-path: polygon(0 8.2vh,3vh 3vh,8.2vh 0,calc(100% - 8.2vh) 0,calc(100% - 3vh) 3vh,100% 8.2vh,100% calc(100% - 8.2vh),calc(100% - 3vh) calc(100% - 3vh),calc(100% - 8.2vh) 100%,8.2vh 100%,3vh calc(100% - 3vh),0 calc(100% - 8.2vh));
}

.box-radial-button-small {
  position: relative;
  clip-path: polygon(0 2.73vh,1vh 1vh,2.73vh 0,calc(100% - 2.73vh) 0,calc(100% - 1vh) 1vh,100% 2.73vh,100% calc(100% - 2.73vh),calc(100% - 1vh) calc(100% - 1vh),calc(100% - 2.73vh) 100%,2.73vh 100%,1vh calc(100% - 1vh),0 calc(100% - 2.73vh));
}

.box-text-container {
  position: relative;
  clip-path: polygon(0 0,calc(100% - calc((20 / 1080) * 100vh)) 0,100% calc((20 / 1080) * 100vh),100% 100%,0 100%);
  padding: calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh) calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh);
  margin-bottom: calc((60 / 1080) * 100vh);
  z-index: 1;
}

.box-text-container-sender {
  position: relative;
  clip-path: polygon(0 0,calc(100% - calc((20 / 1080) * 100vh)) 0,100% calc((20 / 1080) * 100vh),100% 100%,0 100%);
  clip-path: polygon(0 calc((20 / 1080) * 100vh),calc((20 / 1080) * 100vh) 0,100% 0,100% 100%,0 100%);
  padding: calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh) calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh);
  margin-bottom: calc((60 / 1080) * 100vh);
  z-index: 1;
}

.box-text-container-bottom {
  background: #e3e935;
  width: calc((60 / 1080) * 100vh);
  height: calc((40 / 1080) * 100vh);
  transform: skew(0deg, -40deg);
}

.box-text-container {
  position: relative;
  clip-path: polygon(0 0,calc(100% - calc((20 / 1080) * 100vh)) 0,100% calc((20 / 1080) * 100vh),100% 100%,0 100%);
  padding: calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh) calc((20 / 1080) * 100vh) calc((45 / 1080) * 100vh);
  margin-bottom: calc((60 / 1080) * 100vh);
  z-index: 1;
}

.box-text-container-bottom {
  background: #e3e935;
  width: calc((60 / 1080) * 100vh);
  height: calc((40 / 1080) * 100vh);
  transform: skew(0deg, -40deg);
}

.masking-text-container {
  position: absolute;
  bottom: calc((-50 / 1080) * 100vh);
  left: 0;
  width: calc((40 / 1080) * 100vh);
  height: calc((75 / 1080) * 100vh);
  --mask: linear-gradient(180deg, rgba(227,233,53,1) 75%, rgba(227,233,53,0) 75%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.box-text-container-bottom-mobile {
  background: #e3e935;
  width: calc((60 / 1080) * 100vh);
  height: calc((40 / 1080) * 100vh);
  transform: skew(0deg, -40deg);
}

.masking-text-container-mobile {
  position: absolute;
  bottom: calc((10 / 1080) * 100vh);
  left: 0;
  width: calc((40 / 1080) * 100vh);
  height: calc((75 / 1080) * 100vh);
  --mask: linear-gradient(180deg, rgba(227,233,53,1) 75%, rgba(227,233,53,0) 75%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.box-text-container-bottom-mobile {
  background: #e3e935;
  width: calc((60 / 1080) * 100vh);
  height: calc((40 / 1080) * 100vh);
  transform: skew(0deg, -40deg);
}

.masking-text-container-mobile {
  position: absolute;
  bottom: calc((10 / 1080) * 100vh);
  left: 0;
  width: calc((40 / 1080) * 100vh);
  height: calc((75 / 1080) * 100vh);
  --mask: linear-gradient(180deg, rgba(227,233,53,1) 75%, rgba(227,233,53,0) 75%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.box-text-container-bottom-mobile-sender {
  background: #8CD26C;
  width: calc((60 / 1080) * 100vh);
  height: calc((40 / 1080) * 100vh);
  transform: skew(0deg, 35deg);
}

.masking-text-container-mobile-sender {
  position: absolute;
  bottom: calc((20 / 1080) * 100vh);
  right: 0;
  width: calc((40 / 1080) * 100vh);
  height: calc((52 / 1080) * 100vh);
  --mask: linear-gradient(180deg, rgba(140,210,108,1) 75%, rgba(140,210,108,0) 75%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.box-container-coms {
  position: relative;
}
.box-container-coms:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(
    0 0,
    calc(100% - calc((100 / 1080) * 100vh)) 0,
    100% calc((100 / 1080) * 100vh),
    100% 100%,
    0 100%,
    0 0,
    .3vw  .3vw ,
    .3vw calc(100% - .3vw),
    calc(100% - .3vw) calc(100% - .3vw),
    calc(100% - .3vw) calc(calc((100 / 1080) * 100vh) + 0.1vh),
    calc(100% - calc((100 / 1080) * 100vh) - 0.1vh) .3vw,
    .3vw .3vw);
}

.box-live-coms {
  position: relative;
}
.box-live-coms:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(
    0 0,
    calc(100% - calc((80 / 1080) * 100vh)) 0,
    100% calc((80 / 1080) * 100vh),
    100% 100%,
    0 100%,
    0 0,
    .3vw  .3vw ,
    .3vw calc(100% - .3vw),
    calc(100% - .3vw) calc(100% - .3vw),
    calc(100% - .3vw) calc(calc((80 / 1080) * 100vh) + 0.1vh),
    calc(100% - calc((80 / 1080) * 100vh) - 0.1vh) .3vw,
    .3vw .3vw);
}

.box-button-close {
  width: calc((80 / 1080) * 100vh);
  height: calc((80 / 1080) * 100vh);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc((85 / 1080) * 100vh) 100%,
    0 calc(100% - calc((85 / 1080) * 100vh)));
}

.box-send-button {
  clip-path: polygon(
    0 calc((120 / 1080) * 100vh),
    calc((50 / 1080) * 100vh) 0,
    100% 0,
    100% 100%,
    0 100%);
}

.box-text-input {
  position: relative;
}
.box-text-input:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e3e935;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - calc((100 / 1080) * 100vh)),
    calc(100% - calc((40 / 1080) * 100vh)) 100%,
    0 100%,
    0 0,
    .3vw  .3vw ,
    .3vw calc(100% - .3vw),
    calc(100% - calc((40 / 1080) * 100vh) - 0.1vh) calc(100% - .3vw),
    calc(100% - .3vw) calc(100% - calc((100 / 1080) * 100vh) - 0.1vh),
    calc(100% - .3vw) .3vw,
    .3vw .3vw);
}

.masking-top-live-chat {
  --mask: linear-gradient(180deg, rgba(227,233,53,0) 10%, rgba(227,233,53,1) 27%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.close-svg {
  transform: translateY(calc((-5 / 1080) * 100vh)) translateX(calc((5 / 1080) * 100vh)) rotate(-45deg);
}

.send-svg {
  width: calc((45 / 1080) * 100vh);
  height: calc((45 / 1080) * 100vh);
  transform: translateY(calc((0 / 1080) * 100vh)) translateX(calc((20 / 1080) * 100vh)) rotate(-45deg);
}

.text-base-constant {
  font-size: calc((22 / 1080) * 100vh);
  letter-spacing: calc((1 / 1080) * 100vh);
}

.text-score-constant {
  font-size: calc((40 / 1080) * 100vh);
  letter-spacing: calc((2 / 1080) * 100vh);
}

.text-chat-constant {
  font-size: calc((16 / 1080) * 100vh);
  letter-spacing: calc((1 / 1080) * 100vh);
}

.text-title-constant {
  font-size: calc((30 / 1080) * 100vh);
}

.text-sub-title-constant {
  font-size: calc((20 / 1080) * 100vh);
}

.button-attack {
  height: calc((300 / 1080) * 100vh);
  width: calc((300 / 1080) * 100vh);
}

.button-chat {
  height: calc((140 / 1080) * 100vh);
  width: calc((140 / 1080) * 100vh);
}

.button-attack:active, .button-chat:active {
  @apply scale-95 opacity-75 transition-[transform,opacity] duration-100;
}

.img-qr {
  height: calc((180 / 1080) * 100vh);
  width: calc((180 / 1080) * 100vh);
}

.img-qr {
  height: calc((180 / 1080) * 100vh);
  width: calc((180 / 1080) * 100vh);
}

.crosshair {
  height: calc((100 / 1080) * 100vh);
  width: calc((100 / 1080) * 100vh);
}

.container-ui {
  position: relative;
  width: 100%;
  height: 100%;
  @apply flex items-center justify-center;
  padding-left: calc((50 / 1920) * 100vh);
  padding-right: calc((50 / 1920) * 100vh);
  padding-top: calc((25 / 1080) * 100vh);
  padding-bottom: calc((25 / 1080) * 100vh);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

// pattern
.bg-box-pattern-1{
  background-color: #e3e93500;
  opacity: .4;
  background-image:  linear-gradient(#e3e935 calc((.85 / 1080) * 100vh), transparent calc((.85 / 1080) * 100vh)), linear-gradient(to right, #e3e935 calc((.85 / 1080) * 100vh), #fff0 calc((.85 / 1080) * 100vh));
  background-size: calc((60 / 1080) * 100vh) calc((60 / 1080) * 100vh);

  --mask: linear-gradient(-135deg,#0000 calc((140 / 1920) * 100vw) 0%,#000 10%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bg-box-pattern-2{
  background-color: #e3e93500;
  opacity: .5;
  background-image:  linear-gradient(#e3e935 calc((.85 / 1080) * 100vh), transparent calc((.85 / 1080) * 100vh)), linear-gradient(to right, #e3e935 calc((.85 / 1080) * 100vh), #fff0 calc((.85 / 1080) * 100vh));
  background-size: calc((60 / 1080) * 100vh) calc((60 / 1080) * 100vh);

  --mask: linear-gradient(-135deg,#0000 calc((140 / 1920) * 100vw) 0%,#000 10%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bg-pattern-top {
  --mask: linear-gradient(180deg, rgba(227,233,53,0) 0%, rgba(227,233,53,1) 15%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bg-pattern-bottom {
  --mask: linear-gradient(0deg, rgba(227,233,53,0) 0%, rgba(227,233,53,1) 15%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bg-pattern-left {
  --mask: linear-gradient(90deg, rgba(227,233,53,0) 0%, rgba(227,233,53,1) 15%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bg-pattern-right {
  --mask: linear-gradient(-90deg, rgba(227,233,53,0) 0%, rgba(227,233,53,1) 15%);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

// animation

.heartbeat {
  animation: heartbeat 1s infinite ease-in-out;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
